.demo {
  perspective: 1px;
  padding: 0;
  overflow: auto;
  height: 100vh;
}
.box {
  height: 100vh;
  transform-style: preserve-3d;
  position: relative;
}
.iphone {
  transform: translate3D(-98px, -213px, -1px) scale(2);
}
